* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
}
.App {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Left sidebar */
.left-sidebar {
  width: 30%;
  position: relative;
}
.left-sidebar .logo {
  height: 110px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 0;
}
.logo h1 {
  font-size: 35px;
}
.notes-list {
  margin-top: 20px;
  overflow-y: scroll;
  height: calc(100vh - 110px - 20px);
}
.note-item {
  padding: 10px 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}
.notes-list .note-item:hover {
  background-color: rgba(47, 47, 47, 0.2);
  border-radius: 15px;
}
.note-item.active {
  background-color: rgba(47, 47, 47, 0.3);
  border-radius: 15px;
}
.notes-initials {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}
.add-btn {
  position: absolute;
  right: 35px;
  bottom: 35px;
  background-color: #16008b;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.open-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(47, 47, 47, 0.85);
}

.modal {
  background: white;
  padding: 30px 40px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.modal h2 {
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

label {
  width: 120px;
  font-weight: 600;
}

input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 20px;
}

.colors {
  display: flex;
  gap: 15px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 0.2s ease;
}
.color-circle.selected {
  border: 3px solid #cecece;
  box-shadow: 0 0 0 3px white;
  transform: scale(1.1);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.actions button {
  border: none;
  outline: none;
}

.create-btn {
  background: #142b8c;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.close-btn {
  padding: 10px 20px;
  border: none;
  background: #ddd;
  border-radius: 8px;
  cursor: pointer;
}

/* main content */
.main-content {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dae5f5;
}
.header {
  width: 100%;
  height: 10vh;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #001f8b;
  color: #fff;
}
.group-notes {
  padding: 20px 40px;
  height: 65vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #dae5f5; */
}
.note {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.note p {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.timeline {
  display: flex;
  margin: 20px 20px 0;
  align-items: center;
  justify-content: end;
  gap: 15px;
  font-weight: medium;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: #353535;
  border-radius: 50%;
}
/* input area */
.input-area {
  width: 100%;
  height: 25vh;
  padding: 20px 40px;
  background-color: #001f8b;
}
.input-area textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  resize: none;
  outline: none;
  position: relative;
}
.input-area textarea::placeholder {
  color: #9a9a9a;
}
.send-btn {
  position: absolute;
  right: 40px;
  bottom: 30px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.send-icon {
  fill: #001f8b;
  transition: fill 0.2s ease;
}

.send-btn:disabled .send-icon {
  fill: #ababab;
}

.send-btn:disabled {
  cursor: not-allowed;
}
