* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
}
.App {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Left sidebar */
.left-sidebar {
  width: 30%;
  position: relative;
}
.left-sidebar .logo {
  height: 110px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 0;
}
.logo h1 {
  font-size: 35px;
}
.notes-list {
  margin-top: 20px;
  overflow-y: auto;
  height: calc(100vh - 110px - 20px);
}
.notes-list .note-item:hover {
  background-color: rgba(47, 47, 47, 0.2);
  border-radius: 15px;
}
.note-item {
  padding: 10px 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}
.note-item.active {
  background-color: rgba(47, 47, 47, 0.3);
  border-radius: 15px;
}
.notes-initials {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  flex-shrink: 0;
}
.add-btn {
  position: absolute;
  right: 35px;
  bottom: 35px;
  background-color: #16008b;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.open-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(47, 47, 47, 0.85);
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.modal h2 {
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

label {
  width: 120px;
  font-weight: 600;
}

input {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 20px;
}

.colors {
  display: flex;
  gap: 15px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 0.2s ease;
}
.color-circle.selected {
  border: 3px solid #cecece;
  box-shadow: 0 0 0 3px white;
  transform: scale(1.1);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.actions button {
  border: none;
  outline: none;
}

.create-btn {
  background: #142b8c;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.close-btn {
  padding: 10px 20px;
  border: none;
  background: #ddd;
  border-radius: 8px;
  cursor: pointer;
}

/* main content */
.main-content {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dae5f5;
}

.welcome-page {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dae5f5;
  position: relative;
}

.header {
  width: 100%;
  height: 10vh;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #001f8b;
  color: #fff;
}
.left-arrow-icon {
  display: none;
}
.group-notes {
  padding: 20px 40px;
  height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.note {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.note p {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.timeline {
  display: flex;
  margin: 20px 20px 0;
  align-items: center;
  justify-content: end;
  gap: 15px;
  font-weight: medium;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: #353535;
  border-radius: 50%;
}
/* input area */
.input-area {
  width: 100%;
  height: 25vh;
  padding: 20px 40px;
  background-color: #001f8b;
}
.input-area textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  resize: none;
  outline: none;
  position: relative;
}
.input-area textarea::placeholder {
  color: #9a9a9a;
}
.send-btn {
  position: absolute;
  right: 40px;
  bottom: 30px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.send-icon {
  fill: #001f8b;
  transition: fill 0.2s ease;
}

.send-btn:disabled .send-icon {
  fill: #ababab;
}

.send-btn:disabled {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 10px;
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: #fff;
  border-radius: 4.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .left-sidebar {
    width: 40%;
  }
  .main-content {
    width: 60%;
  }
  .add-btn {
    width: 80px;
    height: 80px;
    bottom: 25px;
    right: 25px;
  }
  .group-notes {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    height: 100vh;
  }
  .left-sidebar {
    width: 100%;
    height: 100vh;
    display: block;
  }
  .notes-initials {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .main-content,
  .welcome-page {
    display: none;
    width: 100%;
    height: 100vh;
  }

  .left-arrow-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    margin-right: 12px;
    cursor: pointer;
  }

  .App.note-open .left-sidebar {
    display: none;
  }
  .App.note-open .main-content,
  .App.note-open .welcome-page {
    display: flex;
  }
  .modal-overlay {
    padding: 20px;
  }

  .logo h1 {
    font-size: 24px;
  }

  .colors {
    gap: 10px;
  }
  label {
    width: 100px;
    font-size: 14px;
  }

  .color-circle {
    width: 20px;
    height: 20px;
  }

  input {
    font-size: 14px;
    outline: none;
  }
  .modal {
    width: 90%;
    padding: 20px;
  }
  .input-area {
    padding: 20px;
  }
  .note-item {
    gap: 15px;
  }
  .note-item h2 {
    font-size: 20px;
  }
  .header {
    padding: 15px;
    gap: 15px;
  }
}
